# Built files
*.apk
*.aar
*.ap_
*.aab

# Gradle files
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Local configuration
*.iml
.idea/
.DS_Store

# Keystore files
*.jks
*.keystore

# Firebase
google-services.json (if sensitive)

# Others
/local.properties
/logs/